
html, body { height: 100%; }
body {
  margin: 0;
  display: flex;
  flex-direction: column;   
  align-items: center;     
  justify-content: flex-start;  
}

h1 {
  width: 100%;
  text-align: center;
  margin: 16px 0 8px;
}

.contact-card{
  width: 420px;
  border: 2px solid #ffc0c0;
  border-radius: 20px;
  padding: 16px;
  background: #ffcece;
  margin-top: 16px;
}


.contact-table{
  width: 100%;
  border-collapse: collapse;
}
.contact-table .title{
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 6px 14px;
}


.field, .ta-wrap { position: relative; }

.field input,
.ta-wrap textarea{
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px 30px;
}


.field::before,
.ta-wrap::before{
  content: attr(data-label);
  position: absolute;
  left: 14px;
  top: 12px;
  color: #9aa;
  pointer-events: none;
}


.field input,
.ta-wrap textarea{
  text-indent: 90px;            
}


.row { padding: 6px 0; }


.ta-hint{
  position: absolute;
  left: 14px;
  bottom: 8px;
  font-size: 12px;
  color: #777;
  pointer-events: none;
}


.actions{ text-align: center; padding-top: 6px; }
button{
  padding: 8px 16px;
  border: 2px solid rgb(255,152,152);
  background: rgb(255,142,142);
  border-radius: 20px;
  cursor: pointer;
}
button:hover{
  border-color: rgb(240,173,173);
  background:  rgb(240,173,173);
}
