body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fc;
    margin: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #007bff;
    color: white;
}

th,
td {
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
}

th {
    font-size: 16px;
}

td img {
    max-width: 200px;
    height: auto;
    border-radius: 6px;
    object-fit: contain;
    /* ensures no cropping */
}

iframe {
    width: 200px;
    height: 113px;
    /* 16:9 aspect ratio */
    border: none;
    border-radius: 6px;
}

tr:nth-child(even) {
    background-color: #f2f6ff;
}

tr:hover {
    background-color: #eaf1ff;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.header{
    background-color: blue;
    color: white;
}
.row-mark{
    background-color: lightblue;
    font-weight: 700;
    color: blue;
}
.row-mark td, .row-mark th{
    font-size: 1.5rem;
}
